@model Movie

@{ ViewData["Title"] = "MovieDetails"; }


@section skripte{
    <link rel="stylesheet" href="~/css/movie.css">
}
<div class="movie">
    <h1>@Model.name</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="movie-img">
                    <img src="~/images/Movies/@Model.image" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div class="about-movie">
                    <table>
                        <tr>
                            <th>Description</th>
                            <td>@Model.content</td>
                    </table>
                    <a class="movie-link" href="" target="_blank">Visit movie</a>
                </div>
            </div>

        </div>
    </div>
