@model Movies.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}
@section skripte{
    <link rel="stylesheet" href="~/css/login.css">
}
<div class="reg-wrap">
    <div class="login-wrap">
        <div class="login">
            <h1>Login</h1>
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <form asp-controller="User" asp-action="Login" method="post">
                <label>Username</label>
                <input class="inp" asp-for="username" />
                <span asp-validation-for="username"></span><br />
                <label>Password</label>
                <input class="inp" asp-for="password" />
                <span asp-validation-for="password"></span><br />
                <label><input asp-for="remember"> Remember me</label>
                <input class="signInBtn inp" type="submit" value="Sign In" />
            </form>
            <a asp-controller="User" asp-action="Register">Don't have an account?</a>
        </div>
    </div>
</div>

