@model Movies.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
@section skripte{
    <link rel="stylesheet" href="~/css/profile.css">
}
<h1>Your profile</h1>
<div class="row">
    <div class="profile col-6">
        <form>
            <div class="profile-input">
                <label>User name</label>
                <input class="inp" name="username" type="text" value="@User.Claims.First(c => c.Type == "username").Value" disabled />
            </div>
            <div class="profile-input">
                <label>User email</label>
                <input class="inp" name="email" type="text" value="@User.Claims.First(c => c.Type == "email").Value" disabled />
            </div>

        </form>
    </div>

</div>