@model Movies.ViewModels.UserRegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@section skripte{
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="reg-wrap">
    <div class="login-wrap">
        <div class="login">
            <h1>Register</h1>
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <form asp-controller="User" asp-action="Register" method="post">
                <label asp-for="username"></label>
                <input class="inp" asp-for="username" />
                <span asp-validation-for="username"></span><br />

                <label asp-for="email"></label>
                <input class="inp" asp-for="email" />
                <span asp-validation-for="email"></span><br />

                <label asp-for="password"></label>
                <input class="inp" asp-for="password" />
                <span asp-validation-for="password"></span><br />

                <label asp-for="confirmPassword"></label>
                <input class="inp" asp-for="confirmPassword" />
                <span asp-validation-for="confirmPassword"></span><br />

                <input class="signInBtn inp" type="submit" value="Sign Up" />
            </form>
            <a asp-controller="User" asp-action="Login">Already have an account?</a>
        </div>
    </div>
</div>
