* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    color: #fff;
    /*background-image: url(/images/Site/background.jpg) !important;*/
    background-position: top !important;
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-color: #020d18;
    width: 100%;
}

.movie-title {
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.movie-about {
    color: #fff;
    padding: 1em 0;
}

.movies-wrap {
    position: relative;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    text-align: left;
}

    .movies-wrap .mv {
        position: relative;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 40px 20px;
    }

        .movies-wrap .mv h2 {
            display: block;
            text-align: center;
            font-size: 18px;
            margin-bottom: 20px;
        }

.movies-list {
    min-height: 700px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

    .movies-grid .movie {
        position: relative;
        height: 350px;
        background: #1A1B1F;
        border-radius: 10px;
        overflow: hidden;
    }

.movie .movie-thumb {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

    .movie .movie-thumb img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-height: 100%;
        transition: 0.5s ease all;
    }


.movie:hover .movie-thumb img {
    width: 110%;
}

.movie .movie-desc {
    padding: 20px;
}

    .movie .movie-desc .movie-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .movie .movie-desc p {
        font-size: 14px;
    }

.movie a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pages {
    width: 100%;
    text-align: center;
}

    .pages .num {
        display: inline-block;
        width: 30px;
        line-height: 30px;
        background: #1E2021;
        color: #a7a7a7;
        border-radius: 4px;
        margin-top: 40px;
        text-align: center;
    }

    .pages .active {
        background: #34393B;
        color: #d3d3d3;
    }

.totalMovies {
    color: #c3c3c3;
    font-size: 16px;
}

.movie-img {
    width: 80px;
    height: 110px;
}

.inp {
    width: 100%;
    background-color: #222028;
    border: 2px solid transparent;
    height: 46px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 100%;
    color: #fff;
    border-radius: 6px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.movies-filter .search-form {
    width: 100%;
}

    .movies-filter .search-form input {
        text-indent: 1em;
    }

    .movies-filter .search-form input, select {
        display: inline;
        width: 80%;
        box-sizing: border-box;
        height: 50px;
        text-indent: 10px;
        border: none;
        margin-bottom: 14px;
        background: #30303d;
        border-radius: 5px;
        color: #dbdbdb;
        outline-color: #1ea0ff;
    }

        .movies-filter .search-form input:focus,
        .movies-filter .search-form select:focus {
            outline: none;
        }

    .movies-filter .search-form button {
        width: 19%;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        background: #e4e4e4;
        color: #24242B;
        border: none;
        transition: 0.5s ease all;
    }

        .movies-filter .search-form button:hover {
            background: #1ea0ff;
            color: #fff;
        }

.table {
    color: #fff;
}
