
@{
    ViewData["Title"] = "adminPanel";
}

<h1>Admin Panel</h1>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    @*<partial name="_LoginPartial" />*@
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Movies">Movies</a>
        </li>

    </ul>
</div>
