@model Movies.ViewModels.Admin.AdminMoviesViewModel


@{
    ViewData["Title"] = "Movies";
}
@section skripte{
    <link rel="stylesheet" href="~/css/movies.css">
}

<h1>Movies</h1>

<p>
    <a asp-action="insertMovie">Create New Movie</a>
</p>
<table class="table">
    <tr>
        <th>Image</th>
        <th>Movie name</th>
        <th>content</th>
        <th>Options</th>

    </tr>
    <tbody>
        @foreach (var item in Model.movie)
        {
        <tr>
            <td>
                <img class="movie-img" src="~/images/Movies/@item.movie.image">
            </td>
            <td>@item.movie.name</td>
            <td>@item.movie.content</td>

            <td>
                <a class="edit-btn course" asp-controller="Admin" asp-action="editMovie" asp-route-id="@item.movie.movieID">Edit</a>|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>