@model Movies.ViewModels.Admin.AdminUsersViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
@section skripte{
    <link rel="stylesheet" href="~/css/movies.css">
}

<p>
    <a asp-action="insertUser">Create New User</a>
</p>
<table class="table">
    <tr>
        <th>Username</th>
        <th>email</th>
        <th>Type</th>
        <th>Options</th>

    </tr>
    <tbody>
        @foreach (var item in Model.users)
        {
            <tr>
                <td><input class="inp" type="text" placeholder="Username" value="@item.user.username"></td>
                <td><input class="inp" type="email" placeholder="Email" value="@item.user.email"></td>
                @if (@item.user.type == 1)
                {
                    <td><input class="inp" type="text" placeholder="User" value="User"></td>
 }
                else
                {
                    <td><input class="inp" type="text" placeholder="Admin" value="Admin"></td>
}
                <td>
                    <a class="delete-btn user" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@item.user.userID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
